.container {
  ul.empty::after {
    content: 'Es sind keine Vertretungspläne verfügbar.';
    text-align: center;
    display: block;
    color: #aaa;
    margin-top: 15px;
    font-size: 0.8em;
  }

  ul {
    width: 100%;
    float: left;

    li {
      width: 100%;
      min-height: 50px;
      float: left;
      font-size: 14px;
      font-weight: 500;
      color: $textColor;
      line-height: 22px;
      background: $backgroundCard;
      border-radius: 5px;
      position: relative;
      box-shadow: 0 4px 6px $shadow;
      margin: 0 0 10px;
      padding: 14px 0 14px 14px;
      word-break: break-word;
    }
  }

  .empty {
    tbody {
      display: none;
    }

    &::after {
      content: 'Keine Vertretungen für diesen Nutzer.';
    }
  }

  table {
    width: 100%;
    border-collapse: collapse;

    td,
    th {
      border-collapse: collapse;
      padding-right: 0.4em;
      width: auto;
      text-align: left;
    }

    .entfall {
      color: $enfall;
    }
  }
}