.settings {
  max-width: $maxWidth;
  min-height: calc(95vh - 100px);
  display: flex;
  flex-direction: column;
  justify-content: center;

  .setting:last-child {
    flex-shrink: 0;
    clear: both;
  }

  .setting {
    @include flex();
    margin-bottom: 32px;

    h1 {
      color: $textColor;
      text-transform: capitalize;
      font-weight: bold;
      font-size: 19px;
    }

    p {
      font-size: 16.6px;
      color: #A6A6A6;
    }

    :last-child {
      margin-left: auto;
    }
    $switchHeight: 30px;

    .switch {
      position: relative;
      display: inline-block;
      width: 1.76470588 * $switchHeight;
      height: $switchHeight;

      input {
        opacity: 0;
        width: 0;
        height: 0;
      }
      /* The slider */
      .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: 0.4s;
        transition: 0.4s;
      }

      .slider:before {
        position: absolute;
        content: "";
        height: 0.764705882 * $switchHeight;
        width: 0.4333333333 * 1.76470588 * $switchHeight;
        left: 4px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: 0.4s;
        transition: 0.4s;
      }

      input:checked + .slider {
        background-color: #2196F3;
      }

      input:focus + .slider {
        box-shadow: 0 0 1px #2196F3;
      }

      input:checked + .slider:before {
        -webkit-transform: translateX(0.4333 * 1.76470588 * $switchHeight);
        -ms-transform: translateX(0.4333 * 1.76470588 * $switchHeight);
        transform: translateX(0.4333 * 1.76470588 * $switchHeight);
      }
      /* Rounded sliders */
      .slider.round {
        border-radius: 1.76470588 * $switchHeight;
      }

      .slider.round:before {
        border-radius: 50%;
      }
    }
  }
}